body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Sono", sans-serif;
}
#container{
    margin: 0 auto;
}

#calculator{
    margin: 0 auto;
    background-color: #e1e1e1;
    height: 600px;
    width: 375px;
}


button{
    width: 100px;
    height: 50px;
}